CONSUL_ADDR=http://192.168.122.31:8500 # The consul full URL
NODE_NAME=vmtest # The name of the node
RESYNC_SECONDS=30 # The time to wait before resyncing
HC_INTERVAL=10s # The time to wait before checking the health of the node
HC_TIMEOUT=5s # The time to wait before timing out
HC_DEREGISTER_AFTER=30s # The time to wait before deregistering the node
TRAEFIK_URL=http://traefik:8080 # Need to point to your traefik instance
TRAEFIK_HOST= # Leave empty if you don't need to specify a host header
SERVICE=http://192.168.122.43:80 # The full url to the traefik L2 instance (host is extracted for http:80 + https:443)
MODE=kv # Operating mode: "kv" (Consul KV store) or "tags" (Consul catalog tags)
DEBUG=false # Enable debug file logging (true/false)